mixin tab-bienvenida
    .tab.tab--bienvenida
        .tab--bienvenida__col.col-two-thirds
            +content-block('creacion de cliente placèt', 'bienvenido a placèt', 'Muchas gracias por su información! Con este registro ya podemos proceder a ver las prendsa disponibles', {"text":"vamos a comprar", "url":"#"}, 'white', '', '', 'false')
