mixin tab-medidas-cliente
    .tab.tab--medidas-cliente
        .tab--medidas-cliente__col--description.tab__col--description.col-third
            +content-block('creacion de clientes placèt', 'registro de medidas', 'Con el objetivo de poder brindarle una asesoria personalizada queremos conocer sus caracteristicas físicas.', '', 'white')
        .tab--medidas-cliente__col--form.tab__col--form.col-two-thirds
            +uiform(site.data.medidasCliente, 'siguiente paso', 'light', false, 'bienvenida')

    .primera-cita__step-count
        .primera-cita__step
            .primera-cita__step-frame
                span.primera-cita__step-number 1
            .primera-cita__step-unactive •
        .primera-cita__step
            .primera-cita__step-frame
                span.primera-cita__step-number 2
            .primera-cita__step-unactive •
        .primera-cita__step.-active
            .primera-cita__step-frame
                span.primera-cita__step-number 3
            .primera-cita__step-unactive •
        .primera-cita__step
            .primera-cita__step-frame
                span.primera-cita__step-number 4
            .primera-cita__step-unactive •
