mixin tab-perfil-cliente
    .tab.tab--perfil-cliente
        .tab--perfil-cliente__col--description.tab__col--description.col-third
            +content-block('creacion de clientes placèt', 'perfil del cliente', 'Queremos conocerlo mejor para poderle brindar el nivel de servicio u los productos personalizados ajustados exclusivamente para usted. Por eso queremos hacerle unas preguntas', '', 'white')
        .tab--perfil-cliente__col--form.tab__col--form.col-two-thirds
            +uiform(site.data.perfilCliente, 'siguiente paso', 'light', false, 'medidas')


    .primera-cita__step-count
        .primera-cita__step
            .primera-cita__step-frame
                span.primera-cita__step-number 1
            .primera-cita__step-unactive •
        .primera-cita__step.-active
            .primera-cita__step-frame
                span.primera-cita__step-number 2
            .primera-cita__step-unactive •
        .primera-cita__step
            .primera-cita__step-frame
                span.primera-cita__step-number 3
            .primera-cita__step-unactive •
        .primera-cita__step
            .primera-cita__step-frame
                span.primera-cita__step-number 4
            .primera-cita__step-unactive •
    
