mixin tab-beneficios()
    .tab.tab--beneficios
        h2.tab--beneficios__header.tab__header beneficios de placèt
        .tab--beneficios__content
            .tab--beneficios__col.col-third
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-1.jpg")
                    .tab--beneficios__title comodidad
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-4.jpg")
                    .tab--beneficios__title one-stop shopping
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-7.jpg")
                    .tab--beneficios__title amplio surtido
            .tab--beneficios__col.col-third
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-2.jpg")
                    .tab--beneficios__title tallas perfectas para usted
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-5.jpg")
                    .tab--beneficios__title plataforma personalizada
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-8.jpg")
                    .tab--beneficios__title asesoría profesional
            .tab--beneficios__col.col-third
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-3.jpg")
                    .tab--beneficios__title relación precio calidad
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-6.jpg")
                    .tab--beneficios__title haga su propio mix & match
                .tab--beneficios__cell
                    .tab--beneficios__image
                        img(src="/images/inicio/beneficios-9.jpg")
                    .tab--beneficios__title garantía total de satisfacción
