mixin tab-como-funciona()
    .tab.tab--como-funciona
        h2.tab--como-funciona__header.tab__header como funciona placèt
        .tab--como-funciona__content
            .tab--como-funciona__row
                .tab--como-funciona__text
                    +content-block('', 'primera cita', 'Para Plácet lo mas importante es su comunidad. Por eso nuestros expertos  en imagen y estilo de hombre lo visitaran en su casa u oficina a la hora que  decida. El propósito es conocer sus hábitos y   gustos para que preseleccione las prendas coherentes con su estilo de vida.')
            .tab--como-funciona__row.tab--como-funciona__row--right-align
                .tab--como-funciona__text.tab--como-funciona__text--right-align
                    +content-block('', 'segunda cita', 'Llevaremos las prendas escogidas para evaluar que se ajusten naturalmente a su cuerpo y gustos. Solo seleccionara las prendas  que le gusten.')
            .tab--como-funciona__row
                .tab--como-funciona__text
                    +content-block('', 'tercera cita', 'Entregamos sus prendas cuando quiera y donde quiera para que las disfrute.')
