mixin tab-faq()
    .tab.tab--faq
        h2.tab--faq__header.tab__header preguntas y respuestas
        .tab--faq__content
            each item,index in site.data.faq
                .tab--faq__row
                    .tab--faq__wrapper(data-question="faq-#{index}")
                        span.tab--faq__bullet=item.bullet
                        p.tab--faq__question=item.question
                        .tab--faq__button-container
                            button.tab--faq__button
                    .tab--faq__answer(data-answer="faq-#{index}")=item.answer
