mixin tab-marcas()
    .tab.tab--marcas
        .tab--testimonios__row.tab__header.tab--testimonios__row--header
            h2.tab--testimonios__title Marcas
            p.tab--testimonios__comment PLACET cuenta con tres marcas europeas de gran tradición como AUSTIN REED, CERRUTI 1881 y GUY LAROCHE.  Descúbrelas.

        .tab--marcas__content
            .tab--marcas__col.col-third
                .tab--marcas__cell.tab--marcas__cell--image
                    img(src="/images/marcas/austin.jpg")
                .tab--marcas__cell.tab--marcas__cell--square
                    .tab--marcas__cell-content
                        .tab--marcas__logo
                            img(src="/images/marcas/austin-logo.png")
                        p.tab--marcas__text Austin Reed es una de las marcas inglesas líderes en diseño y confección, con más de un siglo de tradición. La realeza británica otorga sellos a los proveedores de bienes o servicios que han prestado su trabajo durante más de cinco años a algún miembro de la Corte. Austin Reed tiene dos sellos reales, uno otorgado por la Reina de Inglaterra y otro por el Príncipe de Gales. La marca es distribuida en más de mil almacenes alrededor del mundo.
            .tab--marcas__col.col-third
                .tab--marcas__cell.tab--marcas__cell--square.tab--marcas__cell--color
                    .tab--marcas__cell-content
                        .tab--marcas__logo
                            img(src="/images/marcas/cerruti-logo.png")
                        p.tab--marcas__text Cerruti es una de las firmas italianas de mayor prestigio y tradición en el mundo de la alta costura, marcando tendencia en la moda masculina.  Con más de 50 años en el mercado, Cerruti ha vestido a estrellas de Hollywood como Richard Gere, Jack Nicholson, entre otros; Su boutique principal esta en Paris, pero tiene tiendas en diferentes capitales cosmopolitas como Milan, London, Moscu, Tokyo y New York. 
                .tab--marcas__cell.tab--marcas__cell--image
                    img(src="/images/marcas/cerruti.jpg")
            .tab--marcas__col.col-third
                .tab--marcas__cell.tab--marcas__cell--image
                    img(src="/images/marcas/guy-laroche.jpg")
                .tab--marcas__cell.tab--marcas__cell--square
                    .tab--marcas__cell-content
                        .tab--marcas__logo
                            img(src="/images/marcas/guy-laroche-logo.png")
                        p.tab--marcas__text Guy Laroche fue un diseñador de moda francés que da nombre a su firma homónima. Guy Laroche nace en 1921. En la actualidad Guy Laroche se encuentra a nivel mundial contando con el diseñador británico Adam Andrascik como director creativo de la firma.
            
