mixin tab-presentacion()
    .tab.tab--presentacion
        .tab--presentacion__col.tab--presentacion__col--logo.col-half
            .tab--presentacion__logo
                img(src='/images/logo.png')
            .tab--presentacion__content
                h2.tab--presentacion__title presentación de placèt
                p.tab--presentacion__text Nemo enim ipsa voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consecunntur magin dolores eos qui ratione voluptatem sequi nesciunt.
        .tab--presentacion__col.tab--presentacion__col--images.col-half
            .tab--presentacion__subcol.col-half
                .tab--presentacion__cell.tab--presentacion__cell--up-left
                    +content-block('', 'como funciona?')
                .tab--presentacion__cell.tab--presentacion__cell--down-left
                    img(src='/images/inicio/presentacion-bottom.jpg')
            .tab--presentacion__subcol.col-half
                .tab--presentacion__cell.tab--presentacion__cell--up-right
                    img(src='/images/inicio/presentacion-top.jpg')
                .tab--presentacion__cell.tab--presentacion__cell--down-right
                    +content-block('', 'beneficios', '', '', 'white')
