mixin quantity-selector(quantity)
    .quantity-selector
        button.quantity-selector__left-arrow
            i.material-icons keyboard_arrow_left
        span.quantity-selector__value=quantity
        button.quantity-selector__right-arrow
            i.material-icons keyboard_arrow_right
