extends ../../_layouts/base

include ../../_modules/content-block/content-block
include ./tabs/presentacion
include ./tabs/marcas
include ./tabs/testimonios
include ./tabs/beneficios
include ./tabs/como-funciona
include ./tabs/como-funciona-video
include ./tabs/faq
include ../../_modules/slider/slider

block config
  - var baseUrl = '../../'

block content
    main.inicio.inicio--presentacion
        .inicio--presentacion__content
            .inicio--presentacion__tab.-hidden(data-content="como-funciona-video")
                +tab-como-funciona-video
            .inicio--presentacion__tab.-active(data-content="presentacion")
                +tab-presentacion
            .inicio--presentacion__tab(data-content="marcas")
                +tab-marcas
            .inicio--presentacion__tab(data-content="testimonios")
                +tab-testimonios
            .inicio--presentacion__tab(data-content="beneficios")
                +tab-beneficios
            .inicio--presentacion__tab(data-content="como-funciona")
                +tab-como-funciona
            .inicio--presentacion__tab(data-content="faq")
                +tab-faq
        
        .inicio--presentacion__nav
            +slider('inicio--presentacion__nav-panel', 'normal')
                each group, index in site.data.inicioNav
                    .inicio--presentacion__nav-group(class="inicio--presentacion__nav-group--#{index + 1}")
                        each item in group
                            a.inicio--presentacion__nav-item(href="#" data-target=item.target)=item.label
