extends ../../_layouts/base

include ./tabs/marcas
include ./tabs/presentacion

block config
  - var baseUrl = '../../'

block content
    main.inicio.inicio--presentacion
    
    +tab-marcas
    +tab-presentacion