extends ../../_layouts/base

include ../../_modules/content-block/content-block
include ../../_modules/uiform/uiform
include ../../primera-cita/creacion-de-usuario/tabs/datos-personales
include ../../primera-cita/creacion-de-usuario/tabs/perfil-cliente
include ../../primera-cita/creacion-de-usuario/tabs/medidas-cliente
include ../../primera-cita/creacion-de-usuario/tabs/bienvenida

block config
  - var baseUrl = '../../'

block content
    main.primera-cita.primera-cita--creacion-usuario
        .primera-cita--creacion-usuario__tab(data-content="datos")
            +tab-datos-personales
        .primera-cita--creacion-usuario__tab(data-content="perfil")
            +tab-perfil-cliente
        .primera-cita--creacion-usuario__tab(data-content="medidas")
            +tab-medidas-cliente
        .primera-cita--creacion-usuario__tab(data-content="bienvenida")
            +tab-bienvenida
        
        
                
