extends ../../_layouts/base

include ../../_modules/content-block/content-block
include ../../_modules/quantity-selector/quantity-selector

block config
  - var baseUrl = '../../'

block content
    main.segunda-cita.segunda-cita--giftcard
        .col-third.segunda-cita__col.segunda-cita__col--intro.segunda-cita--giftcard__col.segunda-cita--giftcard__col--intro
            .segunda-cita--giftcard__content-block
                +content-block('Registro de Regalos PLacét', 'Regale la exclusividad del Club PlacÉt', false, false, 'white')
                .segunda-cita--giftcard__card
                    img(src="/images/giftcard/giftcard.png")
        .col-two-thirds.segunda-cita__col.segunda-cita--giftcard__col.segunda-cita--giftcard__col--form
            form.segunda-cita--giftcard__form.uiform--light
                +content-block(false, 'Compre una GiftCard PlacÉt', 'Regale la experiencia PLACET a sus conocidos. Elija el valor de su Gift Card y nosotros nos encargaremos De atenderlo con el servicio exclusivo de PLACET', false, false)
                .segunda-cita--giftcard__form__inputs
                    .segunda-cita--giftcard__form__group
                        label.segunda-cita--giftcard__form__label Elija el valor de su tarjeta de regalo
                        input.segunda-cita--giftcard__form__input.uiform__input(type="number", placeholder="$")
                    //- .segunda-cita--giftcard__form__group
                    //-     label.segunda-cita--giftcard__form__label ¿Cuántas tarjetas desea regalar?
                    //-     .segunda-cita--giftcard__form__input
                    //-         +quantity-selector(1)
                    .segunda-cita--giftcard__form__group
                        label.segunda-cita--giftcard__form__label nombre del beneficiario
                        input.segunda-cita--giftcard__form__input.uiform__input(type="text")
                    .segunda-cita--giftcard__form__group
                        label.segunda-cita--giftcard__form__label telefono del beneficiario
                        input.segunda-cita--giftcard__form__input.uiform__input(type="number")
                    .segunda-cita--giftcard__form__group
                        label.segunda-cita--giftcard__form__label email del beneficiario
                        input.segunda-cita--giftcard__form__input.uiform__input(type="email")
                    .segunda-cita--giftcard__form__group
                        label.segunda-cita--giftcard__form__label Deséa regalar otra tarjeta?
                        select.segunda-cita--giftcard__form__input.uiform__input
                            option Si
                            option No
                    .segunda-cita--giftcard__form__group
                        button.segunda-cita--giftcard__form__submit() AGREGAR AL CARRO DE COMPRAS

            //- .segunda-cita--giftcard__cta
            //-     h4.segunda-cita--giftcard__cta-text Adicione personas a su lista de regalos
            //-     a.segunda-cita--giftcard__cta-btn(href="#") Registrar persona
