.segunda-cita,
.tercera-cita {
    display: flex;
    height: 90vh;

    &__col {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4vw;

        &--intro {
            background: $fadedIndigo;

            .content-block {
                &__title {
                    font-size: 3vw;
                }

                &__subtitle {
                    font-size: 1.7vw;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 2vw;
                }

                &__text {
                    font-size: 1.5vw;
                    margin-bottom: 6vw;
                }
            }
        }
    }

    &--bienvenida {
        &__content {
            text-align: center;
            width: 70%;

            .content-block {
                &__link {
                    width: auto;
                }
            }
        }

        &__icon {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-bottom: 3vw;

            img{
                width: 100%;
            }
        }
    }

    &--revision {
        &__main {
            padding: 0;
            flex-direction: column;
            width: 100vw;
        }

        &__aside {
            padding: 0;
            flex-direction: column;
        }

        &__header {
            height: 15vh;
            width: 100%;
            padding: 3vw;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            align-items: center;
        }

        &__content {
            height: 75vh;
            width: 100%;
            padding: 0 3vw;
        }

        &__title {
            color: $mainColor;
            font-family: $titleFont;
            margin: 0;
            font-weight: 300;
            font-size: 4vw;
        }

        &__quantity {
            color: $golden;
            padding-top: 2vw;

            span {
                margin-left: 10px;
            }
        }

        &__related-products {
            flex-grow: 2;
            background: $lightestGray - #111;
            width: 100%;
            padding: 3vw 3vw 2vw;

            &__title {
                color: $mainColor;
                margin: 0 auto 4vw;
                text-align: center;
                font-family: $titleFont;
                font-weight: 300;
                width: 85%;
            }

            &__slider {
                .slick-dots {
                    bottom: -30px;

                    li button:before {
                        color: $vibrantGolden;
                    }

                    li.slick-active button:before {
                        color: $vibrantGolden;
                    }
                }
            }

            &__group {
                display: flex;
                justify-content: space-between;
            }

            &__item {
                width: 47%;

                .product {
                    &__name {
                        font-size: 1.2vw;
                        margin-bottom: 0.8vw;
                    }

                    &__price {
                        font-size: 1.2vw;
                    }

                    &__description {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        &__banner {
            height: 40%;
            background: $fadedIndigo;
            width: 100%;
            padding: 3vw;
            display: flex;
            align-items: center;

            .content-block {
                margin-bottom: 0;

                &__title {
                    font-size: 2vw;
                    padding-bottom: 1.5vw;
                    margin-bottom: 1.5vw;
                }

                &__subtitle {
                    font-size: 1.7vw;
                    margin-bottom: 1vw;
                }

                &__text {
                    font-size: 1.5vw;
                    margin-bottom: 1.8vw;
                }
            }
        }

        &__checkout {
            height: 40%;
            background: $lightestGray;
            width: 100%;
            padding: 2vw 3vw;
        }
    }

    &--producto {
        height: 90vh;
        display: flex;
        width: 100vw;

        &__col {
            height: 100%;
            position: relative;

            &--image {
                width: 45vw;
            }

            &--content {
                width: 55vw;
                padding: 5vw;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: auto;
            }
        }

        .fa-search {
            position: absolute;
            top: 2vw;
            left: 2vw;
            font-size: 5vw;
            color: $white;
        }

        &__form {
            width: 100%;
        }

        &__inputs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .uiform {
                &__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 2vw;
                }

                &__group {
                    width: 48%;
                    margin-bottom: 2.5vw;
                }

                &__button {
                    width: 100%;
                }
            }

            &__title {
                text-align: left;
                font-size: 1.4vw;
                font-weight: 300;
                align-self: flex-start;
            }
        }

        &__title {
            color: $indigo;
            font-family: $titleFont;
            margin: 0;
            width: 100%;
            font-size: 3.5vw;
            padding-bottom: 1vw;
            font-weight: 100;
        }

        &__text {
            margin: 0;
            color: $midGray;
            position: relative;
            font-size: 1.2vw;
            padding-bottom: 2vw;
            margin-bottom: 2vw;
            letter-spacing: 1.2px;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 10%;
                height: 1px;
                background: $vibrantGolden;
            }
        }

        &__price {
            display: flex;
            font-size: 2.5vw;
            padding-bottom: 2vw;
        }

        &__wrapper  {
            display: flex;
            justify-content: space-between;

            &--social {
                flex-direction: column;
                align-items: flex-end;

                ._delete {
                    margin-top: 3vw;
                    color: $golden;
                    text-transform: uppercase;

                    span {
                        font-size: 1.4vw;
                        margin-left: 10px;
                    }
                }
            }
        }

        &__color-selector {
            width: 32%;

            &__container {
                display: flex;
                flex-wrap: wrap;
            }

            &__button {
                position: absolute;
                left: -9999px;

                &:checked {
                    & + label {
                        border: 3px solid $golden;
                    }
                }
            }

            &__label {
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 3px solid transparent;
                margin-right: 1.5vw;
            }
        }

        &__label {
            color: $midGray;
            font-weight: 100;
            margin-bottom: 1vw;
            margin: 0 0 1vw 0;
            font-size: 1.7vw;
        }

        &__valor {
            width: 35%;
            flex-grow: 2;
        }

        &__quantity {
            width: 32%;
            height: 10vh;

            .quantity-selector {
                justify-content: flex-start;
                button {
                    outline: none;
                }

                i {
                    color: $midGray;
                }

                span {
                    padding: 0 3vw;
                    font-size: 2vw;
                }
            }
        }

        &__cta-button {
            background: transparent;
            color: $vibrantGolden;
            border: 1px solid $vibrantGolden;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin-bottom: 0;
            width: 100%;
            text-align: center;
            text-decoration: none;
            padding: 1.5vw 4vw;

            @include mq(sm) {
            }
        }

        &__description {
            &__title {
                color: $midGray;
                border-bottom: 1px solid $lightGray;
                padding-bottom: 1vw;
                margin-bottom: 1vw;
                font-size: 1.5vw;
            }

            &__text {
                font-size: 1.3vw;
                margin-bottom: 2vw;
            }
        }

        &__views {
            display: flex;
        }

        &__view {
            height: 15vh;
            margin-right: 2vw;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    &--promo-site {
        &__col {
            padding: 0;
        }
        &__intro {
            .content-block {
                &__title {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        &__content-wrapper {
            width: 100%;
            height: 100%;
        }

        &__content-col {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        &__content-block {
            display: flex;
            height: 50%;
            padding: 0 3vw;

            .content-block {
                &__title {
                    font-size: 3vw;
                    padding-bottom: 1.5vw;
                    margin-bottom: 1.5vw;
                }

                &__text {
                    font-size: 1.3vw;
                    margin-bottom: 1.5vw;
                }
            }
        }

        &__app-stores {
            display: flex;
            justify-content: space-between;
            width: 85%;
            margin: 0 auto;
        }
    }

    &--referidos,
    &--agendar {
        &__title {
            text-transform: uppercase;
            color: $golden;
            font-weight: 300;
            font-size: 1.6vw;
            width: 80%;
            align-self: flex-start;
            margin-bottom: 3vw;
        }
        &__col {
            padding: 5vw;

            &--intro {
                .content-block {
                    margin-bottom: 0;
                    &__title {
                        font-size: 4.2vw;
                    }

                    &__subtitle {
                        font-size: 1.7vw;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 2vw;
                    }

                    &__text {
                        font-size: 1.5vw;
                        margin-bottom: 6vw;
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 0;
                    }
                }
            }

            &--form {
                padding: 7vw;
                flex-direction: column;

                .uiform {
                    &__group {
                        margin-bottom: 2.5vw;
                        text-align: left;
                    }
                }
            }
        }
    }

    &--agendar {
        &__col {
            &--form {
                text-align: center;

                .uiform {
                    &__wrapper{
                        width: 70%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    &__group {
                        padding: 1vw 0 3vw 0;
                    }
                }
            }
        }

        &__title {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--giftcard {
        &__col {
            &--intro {
                padding: 0;

                .content-block {
                    width: 70%;
                    margin: 0 auto;

                    &__subtitle {
                        width: 70%;
                    }

                    &__title {
                        padding-bottom: 0;

                        &:after {
                            display: none;
                        }
                    }
                }
            }

            &--form {
                padding: 0;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &__content-block {
            width: 100%;
        }

        &__card {
            width: 100%;

            img {
                max-width: 100%;
            }
        }

        &__form {
            flex-grow: 2;
            padding: 5vw;

            .content-block {
                width: 90%;
                margin: 0 auto 2vw;

                &__title {
                    font-size: 3vw;
                }

                &__text {
                    font-size: 1.4vw;
                }
            }

            &--reg {
                .content-block {
                    margin: 0 auto 3vw;

                    &__title {
                        margin-bottom: 1.8vw;
                        padding-bottom: 1.8vw;
                    }
                }

                .uiform {

                    &__wrapper {
                        width: 90%;
                        margin: 0 auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    &__group {
                        margin-bottom: 2.5vw;
                        width: 100%;

                        &:not(:first-child) {
                            width: 47%;
                        }
                    }
                }
            }

            &__title {
                color: $mainColor;
                font-size:1.6vw;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                margin: 0 0 4vw;
            }

            &__inputs {
                width: 70%;
                margin: 0 auto 2vw;
            }

            &__group {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-bottom: 2vw;
            }

            &__label {
                text-transform: uppercase;
                color: $golden;
                font-size: 1.6vw;
                display: block;
                width: 45%;
            }

            &__input {
                width: 40%;
            }

            &__submit {
                @include button();
            }
        }

        // &__cta {
        //     width: 100%;
        //     padding: 5vw;
        //     background: $lightestGray;
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        // }
        //
        // &__cta-text {
        //     width: 40%;
        //     font-size: 2.5vw;
        //     color: $mainColor;
        //     font-family: $titleFont;
        //     font-weight: 300;
        //     margin: 0;
        // }
        //
        // &__cta-btn {
        //     @include button();
        //     width: 40%;
        // }
    }
}

.carro-de-compras {
    display: flex;
    flex-direction: column;

    &__list-wrapper {
        flex-grow: 2;
        overflow: auto;
        height: 51.35vw;
    }

    &__heading {
        display: flex;
        width: 100%;
        border-top: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
        padding: 1.5vw 0;

        p {
            text-transform: uppercase;
        }
    }

    &__cell {
        padding-right: 2.5vw;

        &:nth-child(1) {
            width: 20%;
        }
        &:nth-child(2) {
            width: 29%;
            padding-left: 0;
            margin-bottom: 0;
        }
        &:nth-child(3) {
            text-align: none;
            width: 16%;
        }

        &:nth-child(4) {
            width: 18%;
            text-align: center;
        }

        &:nth-child(5) {
            text-align: none;
            width: 16%;
        }

        p {
            font-size: 1.5vw;
            color: $midGray + #222;
            margin: 0;
        }
    }

    &__item {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        border-bottom: 1px solid $lightGray;
        position: relative;
        padding: 0 0 3vw;
        border-top: none;
        margin-bottom: 3vw;

        &:first-child {
            padding: 3vw 0;
        }

        &__image {
            @include img(140%);
        }

        &__description {
            padding-right: 15px;

            h3 {
                font-size: 18px;
                margin-top: 0;
                line-height: 1.3;
                font-weight: 300;

                @include mq(sm) {
                    font-size: 1.4vw;
                }
            }

            p {
                font-size: 14px;

                @include mq(sm) {
                    font-size: 1.2vw;
                }
            }
        }

        &__price {
            font-size: 14px;
            margin: 0;
            line-height: 1.3;

            @include mq(sm) {
                font-size: 1.4vw;
            }
        }

        &__actions {
            position: absolute;
            left: 0;
            bottom: 3vw;
            right: 0;
            padding-left: 20%;
            display: flex;
            justify-content: space-between;

            a {
                color: $golden;
                text-transform: uppercase;

                span {
                    font-size: 1.4vw;
                    margin-left: 10px;
                }
            }
        }

        &__amount {
            font-size: 14px;
            margin: 0;
            line-height: 1.3;

            @include mq(sm) {
                font-size: 1.4vw;
            }
        }

        &__delete-button {
            border: none;
            background: none;
            display: flex;
            cursor: pointer;
            outline: none;
            align-items: center;
            justify-content: flex-end;

            p {
                display: none;

                @include mq(sm) {
                    text-transform: uppercase;
                    color: $vibrantGolden;
                    margin: 0;
                    line-height: 0;
                    font-size: 1vw;
                    display: block;
                }
            }

            i {
                color: $vibrantGolden;
                position: absolute;
                top: 8px;;
                right: 0;

                @include mq(sm)  {
                    position: static;
                    top: auto;
                    right: auto;
                    transform: scale3d(1.5,1.5,1.5);
                    display: inline-block;
                    margin-right: 20px;
                }
            }
        }
    }

    &__cta {
        @include arrow($pointTo: 'up', $size: 10px, $color: $white);

        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: $white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 10px 20px $lightGray;
        width: 100%;

        @include mq(sm) {
            @include arrow($pointTo: 'up', $size: 20px, $color: $white);

            width: 50%;
            box-shadow: 0 20px 50px $lightGray;
            padding: 4vw 6vw;
        }

        &__subtotal {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding-bottom: 10px;

            @include mq(sm) {
                font-size: 1.4vw;
                padding-bottom: 1vw;
            }

            p {
                margin: 0;
            }

            span {
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        &__delivery {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding-bottom: 10px;

            @include mq(sm) {
                font-size: 1.4vw;
                padding-bottom: 1vw;
            }

            p {
                margin: 0;
            }

            span {
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        &__code {
            border-top: 1px solid $lightGray;
            border-bottom: 1px solid $lightGray;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: $vibrantGolden;
            border-left: none;
            border-right: none;
            outline: none;
            pointer-events: all;
            cursor: pointer;
            background: transparent;
            font-size: 1.4vw;
            padding: 1.5vw 0;
            margin-bottom: 1vw;
            font-weight: 300;
            letter-spacing: 1.2px;

            &::placeholder {
                color: $vibrantGolden;
            }

            &:focus::placeholder {
                color:transparent;
            }
        }

        &__total{
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            font-weight: 500;
            align-items: center;
            font-size: 1.6vw;
        }

        &__buttons {
            @include trans;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &__button {
            @include button;
            width: 100%;
            text-transform: uppercase;
            color: $vibrantGolden;
            border: 1px solid $vibrantGolden;
            background: transparent;
            margin-top: 1vw;
            font-size: 1.2vw;
            padding: 1.5vw 1vw;
        }
    }
}
