.segunda-cita {
    display: flex;
    height: 90vh;

    &__col {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4vw;

        &--intro {
            background: $fadedIndigo;

            .content-block {
                &__title {
                    font-size: 3vw;
                }

                &__subtitle {
                    font-size: 1.7vw;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 2vw;
                }

                &__text {
                    font-size: 1.5vw;
                    margin-bottom: 6vw;
                }
            }
        }
    }

    &--bienvenida {
        &__content {
            text-align: center;
            width: 70%;
    
            .content-block {
                &__link {
                    width: auto;
                }
            }
        }
    
        &__icon {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-bottom: 3vw;
    
            img{
                width: 100%;
            }
        }
    }

    &--revision {
        &__main {
            padding: 0;
            flex-direction: column;
        }

        &__aside {
            padding: 0;
            flex-direction: column;
        }

        &__header {
            height: 15vh;
            width: 100%;
            padding: 3vw;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            align-items: center;
        }

        &__content {
            height: 75vh;
            width: 100%;
            padding: 3vw;
        }

        &__title {
            color: $mainColor;
            font-family: $titleFont;
            margin: 0;
            font-weight: 300;
            font-size: 4vw;
        }

        &__quantity {
            color: $golden;
            padding-top: 2vw;

            span {
                margin-left: 10px;
            }
        }

        &__related-products {
            flex-grow: 2;
            background: $lightestGray;
            width: 100%;
            padding: 3vw;

            &__title {
                color: $mainColor;
                margin: 0 auto 4vw;
                text-align: center;
                font-family: $titleFont;
                font-weight: 300;
                width: 85%;
            }

            &__slider {
                .slick-dots {
                    bottom: -30px;

                    li button:before {
                        color: $vibrantGolden;
                    }

                    li.slick-active button:before {
                        color: $vibrantGolden;
                    }
                }
            }

            &__group {
                display: flex;
                justify-content: space-between;
            }

            &__item {
                width: 47%;

                .product {
                    &__name {
                        font-size: 1.2vw;
                        margin-bottom: 0.8vw;
                    }

                    &__price {
                        font-size: 1.2vw;
                    }

                    &__description {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        &__banner {
            height: 40%;
            background: $fadedIndigo;
            width: 100%;
            padding: 3vw;
            display: flex;
            align-items: center;

            .content-block {
                margin-bottom: 0;

                &__title {
                    font-size: 2vw;
                    padding-bottom: 1.5vw;
                    margin-bottom: 1.5vw;
                }

                &__subtitle {
                    font-size: 1.7vw;
                    margin-bottom: 1vw;
                }

                &__text {
                    font-size: 1.5vw;
                    margin-bottom: 1.8vw;
                }
            }
        }
    }
}

.carro-de-compras {
    &__list {
        background: $lightestGray;
        padding: 20px;

        @include mq(sm) {
            padding: 7vw;
        }

        &__title {
            text-align: center;
            color: $black;
            text-transform: uppercase;
            font-family: $titleFont;
            margin: 0;
            padding-bottom: 20px;
            font-size: 24px;

            @include mq(sm) {
                padding-bottom: 3vw;
                font-size: 3vw;
            }
        }
    }

    &__table {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &__heading {
            display: none;

            @include mq(sm) {
                display: flex;
                width: 100%;
                border-top: 1px solid $lightGray;
                border-bottom: 1px solid $lightGray;
                padding: 1vw 0;
            }
        }

        &__cell {
            padding-right: 5px;

            @include mq(sm) {
                padding-right: 3vw;
            }

            &:nth-child(1) {
                width: 30%;

                @include mq(sm) {
                    width: 18%;
                }
            }
            &:nth-child(2) {
                width: 70%;
                padding-left: 10px;
                margin-bottom: 30px;

                @include mq(sm) {
                    width: 23%;
                    padding-left: 0;
                    margin-bottom: 0;
                }
            }
            &:nth-child(3) {
                width: 33.33%;
                text-align: center;

                @include mq(sm) {
                    text-align: none;
                    width: 16%;
                }

                label {
                    text-transform: uppercase;
                    color: $lightGray;
                    font-weight: 100;

                    @include mq(sm) {
                        display: none;
                    }
                }
            }

            &:nth-child(4) {
                width: 33.33%;

                @include mq(sm) {
                    width: 16%;
                }

                label {
                    text-transform: uppercase;
                    color: $lightGray;
                    font-weight: 100;

                    @include mq(sm) {
                        display: none;
                    }
                }
            }

            &:nth-child(5) {
                width: 33.33%;
                text-align: center;

                @include mq(sm) {
                    text-align: none;
                    width: 14%;
                }

                label {
                    text-transform: uppercase;
                    color: $lightGray;
                    font-weight: 100;

                    @include mq(sm) {
                        display: none;
                    }
                }
            }

            &:nth-child(6) {
                width: 12%;
            }

            p {
                font-size: 12px;
                color: $lightGray;
                text-transform: uppercase;
                margin: 0;

                @include mq(sm) {
                    font-size: 1.2vw;
                }
            }
        }
    }

    &__item {
        flex-wrap: wrap;
        padding: 10px 0;
        display: flex;
        width: 100%;
        border-bottom: 1px solid $lightGray;
        border-top: 1px solid $lightGray;
        position: relative;
        margin-bottom: 30px;

        @include mq(sm) {
            padding: 1vw 0;
            border-top: none;
            margin-bottom: 3vw;
        }

        &__image {
            @include img(130%);
        }

        &__description {
            padding-right: 15px;

            h3 {
                font-size: 18px;
                margin-top: 0;
                line-height: 1.3;

                @include mq(sm) {
                    font-size: 1.4vw;
                }
            }

            p {
                font-size: 14px;

                @include mq(sm) {
                    font-size: 1.2vw;
                }
            }
        }

        &__price {
            font-size: 14px;
            margin: 0;
            line-height: 1.3;

            @include mq(sm) {
                font-size: 1.4vw;
            }
        }

        &__quantity {
            text-align: center;

            @include mq(sm) {
                text-align: none;
                display: flex;
                align-items: center;
            }
        }

        &__amount {
            font-size: 14px;
            margin: 0;
            line-height: 1.3;

            @include mq(sm) {
                font-size: 1.4vw;
            }
        }

        &__delete-button {
            border: none;
            background: none;
            display: flex;
            cursor: pointer;
            outline: none;
            align-items: center;
            justify-content: flex-end;

            p {
                display: none;

                @include mq(sm) {
                    text-transform: uppercase;
                    color: $vibrantGolden;
                    margin: 0;
                    line-height: 0;
                    font-size: 1vw;
                    display: block;
                }
            }

            i {
                color: $vibrantGolden;
                position: absolute;
                top: 8px;;
                right: 0;

                @include mq(sm)  {
                    position: static;
                    top: auto;
                    right: auto;
                    transform: scale3d(1.5,1.5,1.5);
                    display: inline-block;
                    margin-right: 20px;
                }
            }
        }
    }

    &__cta {
        @include arrow($pointTo: 'up', $size: 10px, $color: $white);

        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: $white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 10px 20px $lightGray;
        width: 100%;

        @include mq(sm) {
            @include arrow($pointTo: 'up', $size: 20px, $color: $white);

            width: 50%;
            box-shadow: 0 20px 50px $lightGray;
            padding: 4vw 6vw;
        }

        &__subtotal {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding-bottom: 10px;

            @include mq(sm) {
                font-size: 1.4vw;
                padding-bottom: 1vw;
            }

            p {
                margin: 0;
            }
        }

        &__delivery {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding-bottom: 10px;

            @include mq(sm) {
                font-size: 1.4vw;
                padding-bottom: 1vw;
            }

            p {
                margin: 0;

                &:last-of-type {
                    text-transform: uppercase;
                }
            }
        }

        &__code {
            border-top: 1px solid $lightGray;
            border-bottom: 1px solid $lightGray;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: $vibrantGolden;
            font-size: 12px;
            padding: 10px 0;
            margin-bottom: 10px;
            border-left: none;
            border-right: none;
            outline: none;
            pointer-events: all;
            cursor: pointer;

            @include mq(sm) {
                font-size: 1.2vw;
                padding: 1.5vw 0;
                margin-bottom: 1vw;

            }

            &::placeholder {
                color: $vibrantGolden;
            }

            &:focus::placeholder {
                color:transparent;
            }
        }

        &__total{
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            padding-bottom: 5px;

            @include mq(sm) {
                font-size: 1.6vw;
                padding-bottom: .5vw;
            }
        }

        &__buttons {
            @include trans;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &__button {
            @include button;
            width: 100%;
            text-transform: uppercase;
            color: $vibrantGolden;
            border: 1px solid $vibrantGolden;
            background: transparent;
            margin-top: 5px;
            font-size: 12px;
            padding: 10px;

            @include mq(sm) {
                margin-top: 1vw;
                font-size: 1.2vw;
                padding: 1vw;
            }
        }
    }
}
