extends ../../_layouts/base

include ../../_modules/placet-poll/placet-poll

block config
  - var baseUrl = '../../'

block content
    main.segunda-cita.primera-cita--evaluacion
        +placet-poll(site.data.evaluacion)