extends ../../_layouts/base

include ../../_modules/content-block/content-block

block config
  - var baseUrl = '../../'

block content
    main.segunda-cita.segunda-cita--promo-site
        .col-third.segunda-cita__col.segunda-cita__col--intro.segunda-cita--promo-site__intro
            +content-block('La comodidad de Placét', 'Desde su celular o laptop', false, false, 'white')

        .col-two-thirds.segunda-cita__col.segunda-cita--promo-site__col
            .segunda-cita--promo-site__content-wrapper
                .segunda-cita--promo-site__content-block
                    .col-two-thirds.segunda-cita--promo-site__content-col
                        +content-block(false, 'plataforma personalizada', 'Nuestra plataforma tecnológica asegura una experiencia personalizada. La Pagina Web y la aplicación móvil fueron desarrollados para  consultar información , pedir citas , comprar  conocer el movimiento de su cuenta y adicionalmente seleccionar prendas que muestra personal stylist  las lleva a donde lo desee para que las pruebe. Placet le da mas!.', {'text':'tienda online', 'url':'#'}, false)
                    .col-third
                .segunda-cita--promo-site__content-block
                    .col-third
                    .col-two-thirds.segunda-cita--promo-site__content-col
                        .segunda-cita--promo-site__content
                            +content-block(false, 'DESCARGUE NUESTRA APP PLACÉT', 'Nuestra APP se encuentra disponible en APP STORE Y GOOGLE PLAY', false, false)
                            .segunda-cita--promo-site__app-stores
                                a(href="#", target="_blank")
                                    img(src="/images/segunda-cita/app-store.png")
                                a(href="#", target="_blank")
                                    img(src="/images/segunda-cita/play-store.png")
