extends ../../_layouts/base

include ../../_modules/content-block/content-block
include ../../_modules/uiform/uiform

block config
  - var baseUrl = '../../'

block content
    main.inicio.inicio--login
        .inicio--login__col.col-half
            +content-block('inicio', 'ingrese a placèt', 'Por favor, ingrese su email y contraseña registrados', false, 'white', false)
            .inicio--login__form
                +uiform(site.data.inicioForm, 'ingresar')
            .inicio--login__text
                strong Tienes problemas para ingresar?
                br
                | Comuníquese al telefono 0000 0000
