extends ../../_layouts/base

block config
  - var baseUrl = '../../'

block content
    main.primera-cita.primera-cita--mix-match
        .primera-cita--mix-match__col.col-half
            .primera-cita--tienda__row.primera-cita--tienda__row--heading.primera-cita--tienda__row--heading--mix
                h2.primera-cita--tienda__header.primera-cita--tienda__header--mix mix & match
                p.primera-cita--tienda__comment Armar su propio look nunca ha sido tan fácil!
            .primera-cita--mix-match__row.primera-cita--mix-match__row--categories
                .primera-cita--mix-match__wrapper
                    .primera-cita--mix-match__container.primera-cita--mix-match__container--list.col-half
                        h3.primera-cita--mix-match__title categorias
                        ul.primera-cita--mix-match__list
                            li
                                a.primera-cita--mix-match__list-link(href="#") Vestidos
                            li
                                a.primera-cita--mix-match__list-link(href="#") Blazers
                            li
                                a.primera-cita--mix-match__list-link(href="#") Camisas
                                ul.primera-cita--mix-match__sublist
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Camisas Formales
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Camisas Informales
                            li
                                a.primera-cita--mix-match__list-link(href="#") Pantalones
                                ul.primera-cita--mix-match__sublist
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Pantalones Formales
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Pantalones Informales
                            li
                                a.primera-cita--mix-match__list-link(href="#") Chaquetas
                            li
                                a.primera-cita--mix-match__list-link(href="#") Sweaters
                            li
                                a.primera-cita--mix-match__list-link(href="#") Zapatos
                                ul.primera-cita--mix-match__sublist
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Zapatos Formales
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Zapatos Informales
                            li
                                a.primera-cita--mix-match__list-link(href="#") Accesorios
                                ul.primera-cita--mix-match__sublist
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Camisetas
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Corbatas
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Bufandas
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Cinturones
                                    li
                                        a.primera-cita--mix-match__sublist-link(href="#") Medias
                    .primera-cita--mix-match__container.primera-cita--mix-match__container--images.col-half
                        +slider()
