extends ../../_layouts/base

include ../../_modules/content-block/content-block
include ../../_modules/uiform/uiform


block config
  - var baseUrl = '../../'

block content
    main.segunda-cita.segunda-cita--referidos
        .col-half.segunda-cita__col.segunda-cita__col--intro.segunda-cita--referidos__col.segunda-cita--referidos__col--intro
            +content-block('Club PLacét', 'club de referidos placèt', 'Por cada uno de sus referidos se abonara a su cuenta de PLACÉT un 10% de lo que compre durante los siguientes doce meses.<br><br>GANAR ESTE BENECIO ES SENCILLO:<br><br>1. Refieranos Amigos y/o conocidos.<br><br>2. Se abonara a su cuenta el 10% de todo lo que el referido compre durante un año.<br><br>3. Redima ese valor en sus próximas compras de PLACÉT.', false, 'white')
        .col-half.segunda-cita__col.segunda-cita--referidos__col.segunda-cita--referidos__col--form
            h3.segunda-cita--referidos__title Ingrese la información de la persona que quisiera recomendar
            +uiform(site.data.referidoDeCliente, 'Referir Amigo', 'light')
