.content-block {
    $cb: &;

    text-align: center;
    width: 100%;
    margin-bottom: 2vh;

    &__subtitle {
        display: block;
        color: $vibrantGolden;
        font-size: 1.8vw;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: .5vw;
    }

    &__title {
        @include title(
            $separator: true,
            $lineSeparation: 4vh,
            $translate: -50%,
            $color: $indigo,
            $background: $vibrantGolden,
            $lineHeight: 1px,
            $size: 4.5vw,
            $lineWidth: 5vw
        );

        font-weight: normal;
    }

    &__text {
        color: $white;
        font-size: 1.6vw;
        margin: 0;
        margin-bottom: 2vh;
        letter-spacing: 1px;
    }

    &__link {
        @include button($fontSize: 2vw, $btnColor: $vibrantGolden, $paddLeftRight: 4vw, $paddTopBottom: 1vw, $btnBackground: transparent, $borderColor: $vibrantGolden);
        margin: 0;
        text-decoration: none;
    }

    &--white {
        #{$cb}__subtitle {
            color: $vibrantGolden;
        }

        #{$cb}__title {
            color: $white;
        }

        #{$cb}__text {
            color: $white;
        }

        #{$cb}__link {
            @include button($fontSize: 2vw, $btnColor: $vibrantGolden, $paddLeftRight: 4vw, $paddTopBottom: 1vw, $btnBackground: transparent, $borderColor: $vibrantGolden);
            margin: 0;
        }

    }
}
