extends ../../_layouts/base

block config
  - var baseUrl = '../../'

block content
    main.paginas.paginas--perfil
        .paginas--perfil__header
            h2.paginas--perfil__title perfil de cliente placèt
        .paginas--perfil__container
            .paginas--perfil__wrapper
                .paginas--perfil__heading
                    h3.paginas--perfil__title.paginas--perfil__title--heading datos personales
                    button.paginas--perfil__edit-button Modificar
                .paginas--perfil__content
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label Nombre 
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="Juan Gómez") 
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label edad
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="40")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label email
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="juan.gomez@gmail.com")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label teléfono
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="310 222 3333")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label dirección casa
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="Transv. 1 Este # 70-28 Apt 1012")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label dirección oficina
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="Carrera 12 # 87-23 Of 201")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label fecha de nacimiento
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="Junio 28 / 1963")
            .paginas--perfil__wrapper
                .paginas--perfil__heading
                    h3.paginas--perfil__title.paginas--perfil__title--heading medidas
                    button.paginas--perfil__edit-button Modificar
                .paginas--perfil__content
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label estatura
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="40")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label peso
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="40")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label pecho
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="40")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label cintura
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="40")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label cadera
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="40")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label brazo
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="40")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label pierna
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="40")
            .paginas--perfil__wrapper
                .paginas--perfil__heading
                    h3.paginas--perfil__title.paginas--perfil__title--heading datos pareja
                    button.paginas--perfil__edit-button Modificar
                .paginas--perfil__content
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label nombre
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="María Gucci")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label email
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="maria.gucci@gmail.com")
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            p.paginas--perfil__content__label teléfono
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--input
                            input.paginas--perfil__content__input(type="text" disabled value="310 222 3333")
            .paginas--perfil__wrapper
                .paginas--perfil__heading
                    h3.paginas--perfil__title.paginas--perfil__title--heading preferencias
                    button.paginas--perfil__edit-button Modificar
                .paginas--perfil__content
                    .paginas--perfil__content--row
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            input.paginas--perfil__content__input.paginas--perfil__content__input--preferences(type="text" disabled value="ropa formal")
                    .paginas--perfil__content--row.paginas--perfil__content--cell--input
                        .paginas--perfil__content--cell.paginas--perfil__content--cell--label
                            input.paginas--perfil__content__input.paginas--perfil__content__input--preferences(type="text" disabled value="vestidos oscuros")
            .paginas--perfil__wrapper.paginas--perfil__wrapper--purchase-history
                .paginas--perfil__heading.paginas--perfil__heading--purchase-history
                    h3.paginas--perfil__title.paginas--perfil__title--heading historial de compras
                .paginas--perfil__table
                    .paginas--perfil__table__heading
                        .paginas--perfil__table__cell
                            p fecha
                        .paginas--perfil__table__cell
                            p personal shopper
                        .paginas--perfil__table__cell
                            p item
                        .paginas--perfil__table__cell
                            p decripción
                        .paginas--perfil__table__cell
                            p precio 
                        .paginas--perfil__table__cell
                            p cantidad
                        .paginas--perfil__table__cell
                            p total
                    .paginas--perfil__table-wrapper
                        .paginas--perfil__item
                            .paginas--perfil__table__cell
                                span.paginas--perfil__content__input Feb 18 / 2019
                            .paginas--perfil__table__cell
                                span.paginas--perfil__content__input María Fernanda Díaz
                            .paginas--perfil__table__cell
                                .paginas--perfil__item__image
                                    img(src='/images/tienda/checkout-item.png')
                            .paginas--perfil__table__cell
                                .paginas--perfil__item__description
                                    h3 Vestido Cerruti Azul
                                    p 
                                        | SKU: VE03887-13 
                                        br
                                        br
                                        | Color: Azul Oscuro
                                        br
                                        | Talla: L
                                        br
                                        | Drop 4 
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__price $944.000
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__quantity 1
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__amount $944.000
                        .paginas--perfil__item
                            .paginas--perfil__table__cell
                                span.paginas--perfil__content__input Feb 18 / 2019
                            .paginas--perfil__table__cell
                                span.paginas--perfil__content__input María Fernanda Díaz
                            .paginas--perfil__table__cell
                                .paginas--perfil__item__image
                                    img(src='/images/tienda/checkout-item.png')
                            .paginas--perfil__table__cell
                                .paginas--perfil__item__description
                                    h3 Vestido Cerruti Azul
                                    p 
                                        | SKU: VE03887-13 
                                        br
                                        br
                                        | Color: Azul Oscuro
                                        br
                                        | Talla: L
                                        br
                                        | Drop 4 
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__price $944.000
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__quantity 1
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__amount $944.000
                        .paginas--perfil__item
                            .paginas--perfil__table__cell
                                span.paginas--perfil__content__input Feb 18 / 2019
                            .paginas--perfil__table__cell
                                span.paginas--perfil__content__input María Fernanda Díaz
                            .paginas--perfil__table__cell
                                .paginas--perfil__item__image
                                    img(src='/images/tienda/checkout-item.png')
                            .paginas--perfil__table__cell
                                .paginas--perfil__item__description
                                    h3 Vestido Cerruti Azul
                                    p 
                                        | SKU: VE03887-13 
                                        br
                                        br
                                        | Color: Azul Oscuro
                                        br
                                        | Talla: L
                                        br
                                        | Drop 4 
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__price $944.000
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__quantity 1
                            .paginas--perfil__table__cell
                                span.paginas--perfil__item__amount $944.000
