mixin video-overlay()
    .video-overlay
        iframe(data-src="https://www.youtube.com/embed/3gYegr3ZW7I?autoplay=1&mute=1&controls=0&showinfo=0&rel=0&modestbranding=1")
        button.video-overlay__close
            i.material-icons close