extends ../../_layouts/base

include ../../_modules/content-block/content-block
include ../../_modules/uiform/uiform

block config
  - var baseUrl = '../../'

block content
    main.segunda-cita.segunda-cita--giftcard
        
        .col-third.segunda-cita__col.segunda-cita__col--intro.segunda-cita--giftcard__col.segunda-cita--giftcard__col--intro
            .segunda-cita--giftcard__content-block
                +content-block('Registro de Regalos PLacét', 'Regale la exclusividad del Club PlacÉt', false, false, 'white')
                .segunda-cita--giftcard__card
                    img(src="/images/giftcard/giftcard.png")
        
        .col-two-thirds.segunda-cita__col.segunda-cita--giftcard__col.segunda-cita--giftcard__col--form
            form.segunda-cita--giftcard__form.uiform--light.segunda-cita--giftcard__form--reg
                +content-block(false, 'AGREGAR PERSONA AL REGISTRO DE REGALOS', 'El Gift registry es una herramienta que facilitara a las personas mas cercanas de su entorno, seleccionar el regalo perfecto para usted.  Solo déjenos saber quienes son y nosotros nos encargamos de hacerles llegar la información. ', false, false)
                
                h3.segunda-cita--giftcard__form__title Datos de la persona
                +uiform(site.data.giftcardRegistry, 'AGREGAR AL GIFT REGISTRY', 'light')
