extends ../../_layouts/base

include ../../_modules/content-block/content-block

block config
  - var baseUrl = '../../'

block content
    main.segunda-cita.segunda-cita--bienvenida
        .col-third.segunda-cita__col.segunda-cita__col--intro
            +content-block('Novedades', 'Las últimas colecciones', 'Directo de PLacét para usted', {'text':'Ver Novedades', 'url':'#'}, 'white')

        .col-two-thirds.segunda-cita__col.segunda-cita--bienvenida__content-wrapper
            .segunda-cita--bienvenida__content
                .segunda-cita--bienvenida__icon
                    img(src="/images/segunda-cita/icon-traje.png")
                +content-block('Trajimos sus prendas', 'REVISEMOS CÓMO LE QUEDAN', 'En Plácet nos aseguramos que su satisfacción sea total. Esta visita tiene como propósito probar  los  looks y prendas escogidos en la visita anterior.  Pruébelas y escoja únicamente las que le gusten.', {'text':'Revisar prendas', 'url':'#'}, false)
