extends ../../_layouts/base

include ../../_modules/content-block/content-block

block config
  - var baseUrl = '../../'

block content
    main.segunda-cita.segunda-cita--bienvenida
        .col-third.segunda-cita__col.segunda-cita__col--intro
            +content-block('Novedades', 'Las últimas colecciones', 'Directo de PLacét para usted', {'text':'Ver Novedades', 'url':'#'}, 'white')

        .col-two-thirds.segunda-cita__col.segunda-cita--bienvenida__content-wrapper
            .segunda-cita--bienvenida__content
                .segunda-cita--bienvenida__icon
                    img(src="/images/segunda-cita/icon-traje.png")
                +content-block('Trajimos sus prendas', 'REVISEMOS CÓMO LE QUEDAN', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.', {'text':'Revisar prendas', 'url':'#'}, false)


