extends ../../_layouts/base

include ../../_modules/content-block/content-block

block config
  - var baseUrl = '../../'

block content
    main.tercera-cita.tercera-cita--bienvenida
        .col-third.segunda-cita__col.segunda-cita__col--intro
            +content-block('Novedades', 'Las últimas colecciones', 'Directo de PLacét para usted', {'text':'Ver Novedades', 'url':'#'}, 'white')

        .col-two-thirds.segunda-cita__col.segunda-cita--bienvenida__content-wrapper
            .segunda-cita--bienvenida__content
                .segunda-cita--bienvenida__icon
                    img(src="/images/segunda-cita/icon-traje.png")
                +content-block('', 'Trajimos sus prendas', 'Queremos agradecerle la confianza depositada en PLACET. Hacemos entrega de sus prendas con los últimos ajustes. Seguiremos en contacto con usted  por que sabemos que de ahora adelante su elección a la hora de comprar vestuario será una experiencia PLACET', {'text':'Revisar prendas', 'url':'#'}, false)
